{
  "name": "rdi-db",
  "type": "redis",
  "memory_size": 268435456,
  "port": 12001,
  "oss_cluster": false,
  "replication": true,
  "sharding": false,
  "data_persistence": "aof_every_write",
  "authentication_redis_pass": "redislabs",
  "roles": [
    "active"
  ],
  "rdi": {
    "enabled": true,
    "source": true
  }
}
